body{
    margin: 0;
    background: linear-gradient(
        to right,
        white,
        gray,
        white
    );
}

.title {
    margin-left: 40px;
    margin-right: auto;
    color: white;
    font-family: 'Orbitron';
}

nav {
    height: 80px;
    background-color: #080808;
    display: flex;
    align-items: center;
    justify-content: end;
}

nav ul li.dropdown {
    position: relative;
}

nav ul li.dropdown-menu {
    display: none;
}

nav ul li.dropdown .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: black; /* i-match sa color scheme niyo */
    min-width: 160px;
    list-style: none;
    padding: 8px 0;
    margin: 0;
    z-index: 100;
    box-shadow: 0 8px 16px rgba(0,0,0,0.3);
}

nav ul li.dropdown:hover .dropdown-menu {
    display: block;
}

nav ul li.dropdown .dropdown-menu li {
    width: 100%;
}

nav ul li.dropdown .dropdown-menu li a {
    display: block;
    padding: 8px;
    white-space: nowrap;
}


/* SEARCH BAR */

.search-container {
    display: flex;
    gap: 8px;
    align-items: center;
}

#searchInput {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}

#searchBtn {
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    background-color: #080808;
    color: white;
    cursor: pointer;
}

    #searchBtn:hover {
    background-color: #4d4d4d;
}

nav ul li.dropdown .dropdown-menu li a:hover {
    background-color: rgba(255,255,255,0.1);
    width: 70%;
}

ul {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    align-items: center;
}

li {
    font-family: 'Manrope';
    font-size: 20px;
    padding: 0 20px;
    list-style: none;
}

li a {
    color: white;
    text-decoration: none;
}

.H-Brandpage {
    text-align: center;
    color: white;
    font-family: 'Orbitron';
}